<div class="container" *ngIf="videos">
<!--(click)="onVideoSelected(video)"-->
    <div class="row">
        <div class="col-sm-6 col-md-3"  *ngFor=" let video of videos ">
            <div class="thumbnail">
                <img *ngIf="video.thumbUrl" [src]="video.thumbUrl" />
                <div class="caption">
                    <h3>
                        <a [routerLink] = "['Video', {mode: 'watch', id: video._id}]">
                        {{video.title}}
                        </a>
                        </h3>
                    <p>Length: {{video.length}}</p>
                    <p>Watched: {{video.watchedCount}}</p>
                    <p>Rating: {{video.rating}}</p>
                    <p><a [href]="video.localUrl" class="btn btn-primary" role="button">Watch</a> <a [href]="video.url" class="btn btn-default"
                            role="button">Watch</a></p>
                </div>
            </div>
        </div>
    </div>
</div>