<div class="container">
    <form [ngFormModel]="form" *ngIf="videoDetails"
        (ngSubmit)="onSubmit(form.value)" >
        <fieldset class="form-group">
            <label for="videoDetailsTitle">Title: </label>
            <input 
                type="text"
                ngControl="videoDetails.title"
                class="form-control" 
                placeholder="Title" 
                id="videoDetailsTitle" 
                />            
        </fieldset>
        <fieldset class="form-group">
            <label for="videoDetailsRating">Rating: </label>
            <input 
                type="text"
                ngControl="videoDetails.rating" 
                class="form-control" 
                placeholder="Rating"  
                id="videoDetailsRating"
                />
        </fieldset>
        <fieldset class="form-group">
            <label for="videoDetailsUrl">url: </label>
            <input 
                type="text"
                ngControl="videoForm.url" 
                class="form-control" 
                placeholder="URL" 
                id="videoDetailsUrl"
                />
        </fieldset>
        <button type="submit" class="ui button">Submit</button>
    </form>
</div>