 <div class="row border" *ngIf="videoDetails">
     <div *ngIf="videoDetails" clas="col-md-12">
         
         You're just about to insert a movie with:
             
             title:  {{videoDetails.title}}  <br/>
             length: {{videoDetails.videoLength}} <br />
             rating: {{videoDetails.rating}} <br />
             owner: {{videoDetails.owner}} <br />
             watchedCount:  {{videoDetails.watchedCount}} <br />
             url:  {{videoDetails.url}} <br />
         
     </div>
     <form id="video-details-add" class="form">
            <div class="col-md-2">
                <label>Title: </label> <input placeholder="Title" [(ngModel)]="videoDetails.title"/>
            </div>
            <div class="col-md-2">
                <label>videoLength: </label> <input placeholder="videoLength  " [(ngModel)]="videoDetails.videoLength"/>
            </div>
            <div class="col-md-2">
                 <label>rating: </label> <input placeholder="rating  " [(ngModel)]="videoDetails.rating"/>
            </div>
            <div class="col-md-2">
                <label>owher: </label> <input placeholder="owher  " [(ngModel)]="videoDetails.owher"/>
            </div>
            <div class="col-md-2">
                <label>watchedCount: </label> <input placeholder="watchedCount  " [(ngModel)]="videoDetails.watchedCount"/>
                
            </div>
            <div class="col-md-2">
                <label>url: </label> <input placeholder="url  " [(ngModel)]="videoDetails.url"/>
            </div>
            <div class="col-md-2">
                <a [href]="videoDetails.localUrl">Watch</a>
            </div>
            <div>
                <button class="btn btn-warning" (click)="saveVideo(videoDetails)">Add </button>
            </div>
     </form>
</div>