<div class="container">    
    <form id="video-details-add" *ngIf="videoDetails">
         <!--[ngFormModel]="form">-->
        <fieldset class="form-group">
            <label for="videoDetailsTitle">Title: </label>
            <input type="text" class="form-control" placeholder="Title" [(ngModel)]="videoDetails.title" id="videoDetailsTitle" />
        </fieldset>

        <fieldset class="form-group">
            <label for="videoDetailsLength">Length: </label>
            <input class="form-control" type="text" id="videoDetailsLength" placeholder="videoLength  " [(ngModel)]="videoDetails.videoLength" />
            <!--<label *ngIf="DisplayMode===VideoDisplayMode.Edit">{{videoDetails.videoLength}}</label>-->
            <!--<button class="btn" (click)="editLength()">...</button>-->
        </fieldset>

        <fieldset class="form-group">
            <label>Rating: </label>
            <input class="form-control" placeholder="rating" [(ngModel)]="videoDetails.rating" />
        </fieldset>
        
        <fieldset class="form-group">
            <label>Owner: </label>
            <input class="form-control" placeholder="Owner" [(ngModel)]="videoDetails.owner" />
        </fieldset>
        
        <fieldset class="form-group">
            <label>Watched: </label>
            <input class="form-control" placeholder="Watched" [(ngModel)]="videoDetails.watchedCount" />
        </fieldset>

        <fieldset class="form-group">
            <label>url: </label>
            <input class="form-control" placeholder="url  " [(ngModel)]="videoDetails.url" />
        </fieldset>
        
        <fieldset class="form-group">
            <a [href]="videoDetails.localUrl">Watch</a>
        </fieldset>
        <div *ngIf="editMode">
            <button class="btn btn-warning" (click)="saveVideo(videoDetails)">Add </button>
        </div>
    </form>
</div>
<!-- container -->